#clock {
  font-size: 11rem;
  width: 63rem;
  margin: 13rem;
  text-align: center;
  background-image: linear-gradient(
    35deg,
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7,
    #fd004c
  );
  color: black;
}
